
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

 
}
.card{
    width: 20rem;
    height: 40rem;

   
}
.images{
    margin: auto;
    width: 90px;
    height: 70px;
}
.titlecards{
    font-size: 15px;
    text-align: center;
}
h6{
    text-align: center;
}