*{
    margin: 0;
    padding: 0;

}
div {
    background-color: blue;
}
h1  {
    color: red;
}

h2 {
    color: red;
}

h3 {  
    color: red;
}
button {
    font-size: large;
    margin: 30px;
    background-color:green;
}