*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
 --container-color:red;
 --box-color:blue;
}
.container{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--container-color);
    margin: auto;
}
.box{
    width: 250px;
    height: 250px;
    background-color:var(--box-color);
    display: flex;
    justify-content: center;
    align-items:center ;
    border: 2px solid white;
    margin: auto;


/* 
shadows
 
box-shadow :offset-x offest-y color;
box-shadow :offset-x offest-y blur-radius color;
box-shadow :offset-x offest-y blur-radius spread-radius color;
box-shadow : inset offset-x offest-y blur-radius spread-radius color; */


box-shadow:10px 10px white;
box-shadow: 10px 10px 10px 10px white;
box-shadow: inset 10px 10px 10px 10px white;

/* 

text-shadow: offset-x offset-y color;
text-shadow: offset-x offset-y blur-radius color; */



text-shadow: 10px 10px violet;
text-shadow: 10px 10px 5px violet;

}