
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 h1{
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    font-family: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
 }
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
   

 
}
.container-fluid{
    background-color:black;
}
.card{
    width: 25vw;
    height: 50vh;
   padding: 10px;

   
   
}
.images{
    margin: auto;
    width: 150px;
    height: 150px;
    
}
.titlecards{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    text-align: center;
    font-size: large;
}
h6.category,.price{
    font-weight: 800;
    margin-top: 10px;
}


