*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



h1{
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 700;
}


form {
  margin: auto;
  margin-top: 60px;
  background-color: #181616;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(242, 147, 23);
  width: 600px;

  
}

#task{
  min-width: 30vw;
  margin-left: 60px;
  min-height: 30px;
}

button {
  background-color: #0e0d0d;
  color: white;
  font-size: 20px;
  margin: 20px;
  width: 80px;

}
table,tr,th,td {
  font-weight: 600;
margin: auto;
margin-top: 50px;
border: 2px  black solid;
border-collapse: collapse;
background-color: white;
font-size: 15px;
}


#button {
  background-color:  hwb(19 14% 14%);
  font-size: 15px;
  font-weight: 500;
  color: #0e0d0d;
  width: 100px;
  height: 50px;
  margin-left: 240px;
  margin-top: 10px;
  
}
